<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Eventos</title>
</head>
<body>

	<form  method="post">
	<label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" >
	<label for="local">Local</label>
    <input type="text" name="local" id="local" >
	<label for="data">Data</label>
    <input type="date" name="data" id="data" >
	<label for="horario">Horario</label>
    <input type="text" name="horario" id="horario" >
    <button type="submit">Enviar</button>
    </form>
</body>
</html>